/* Global general */

*
{
    margin: 0px;
}

html, body
{
    height: 100%;
}


/* Global body */

body
{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00155c;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Global level ones (header, main, footer) */

header
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00155c;
    padding: 20px;
    color: #fff;
    border-bottom: solid 1px #fff;
    z-index: 1000;
}

main
{
    display: block;
    color:#fff;
    background-image: url("../images/night-sky.png");
    background-repeat: repeat;
    background-attachment: fixed;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer
{
    display: block;
    padding: 20px;
    z-index: 1000;
    text-align: center;
    color:#fff;
    background-image: url("../images/night-sky.png");
}


/* Global level twos (aside, article) */

aside, article
{
    padding: 2em;
}

aside
{
    text-align: center;
}

article
{
    width: 75%;
}

nav
{
    display: flex;
}


/* Global general elements */

h1, nav
{
    font-family: magneto;
}

p
{
    margin: .5em .5em 0;
}


/* Global specific elements */

header > nav a:visited, nav a:link
{
    color: #fff;
    text-decoration: none;
}

footer > nav a:visited, nav a:link
{
    color: #fff;
    text-decoration: none;
}

main > article > p > a:visited, a:link
{
    color: #fff;
}

nav > ul
{
    display: inline;
    padding: 0px;
}

nav > ul > li
{
    display: inline-block;
    list-style: none;
    margin: 0px 5px 0px 5px;
}

nav img
{
    width: 40px;
    display: flex;
    margin-top: 10px;
}

aside > h1
{
    padding-top: 20px;
    font-size: 46px;
}



/* Global classes */

.logo
{
    width: 250px;
}

.banner
{
    width: 550px;
    border: solid 1px #fff;
}

.columns
{
    display: flex;
}

.textbox
{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    color: #fff;
    max-width: 300px;
    font-size: larger;
}

.buttons
{
    display: flex;
}


/* Desktop only */

@media only screen and (min-width: 768px)
{
    main
    {
        display: flex;
    }

    aside
    {
        margin-left: 2%;
    }

    .columns-desktop
    {
        display: flex;
    }
}


/* Pizzas only */

.pizza
{
    width: 200px;
    min-width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 2px #00155c; 
    color: #000;
    position: relative;
    text-align: center;
}

.pizza img
{
    width: 150px;
    width: 75%;
    height: 150px;
}

.pizza .title
{
    font-weight: bold;
    text-align: left;
}

.pizza .columns
{
    width: 100%;
}

.pizza .price
{
    text-align: right;
}

.pizza .columns div
{
    width: 50%;
}

.pizza .desc
{
    text-align: left;
}

.pizza button 
{
    background-color: #00155c;
    color: #fff;
    padding: 15px;
    border: solid 1px #000;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    display: flex;
    cursor: pointer;
}

